@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole<int>>
<h1>Roles</h1>
@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
*@
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@*no need for site.css made a custom css file Named as "kapraMarket.web_styles.css" it will be use through out the whole project add custom css code in this file.*@
<link href="~/css/kapraMarket.web_styles.css" rel="stylesheet" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/overallstyles.css" rel="stylesheet" />

<div class="right-div">




    <div id="main">
<form method="post" asp-action="addrole" asp-controller="Roles">
    <div class="input-group">
        <input name="roleName" class="form-control w-25" type="text" style="border-radius:4px;" placeholder="Enter Role" />
    </div>
    <br>
    <span class="input-group-btn">
        <button class="btn btn-primary">Add New Role</button>
    </span>
</form>
<table class="table table-striped" id="roleTable">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                Id
            </th>
            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Id
                </td>
                <td class="text-right">
                @*<div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a class="dropdown-item">
                                <i class="fas fa-pencil-alt"></i> Edit
                            </a>
                           
                            <a class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a>
                            
                            @if (role.Name != "SuperAdmin")
                            {
                                <a style='margin-right:16px' asp-controller="Permission" asp-action="Add" asp-route-roleId="@role.Id" class="dropdown-item">
                                    <i class="fas fa-wrench"></i> Manage Permissions
                                </a>
                            }
                        </div>
                    </div>*@


                    @*<label class="dropdown">
                        <div class="dd-button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                            Action
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li><a asp-controller="Permission" asp-action="Update" asp-route-roleId="@role.Id"><i class="fas fa-pencil-alt"></i> Edit</a></li>
                            <li><a asp-controller="Permission" asp-action="Delete" asp-route-roleId="@role.Id"><i class="fas fa-trash-alt"></i> Delete</a></li>
                            @if(role.Name!="SuperAdmin")
                            {
                                <li><a asp-controller="Permission" asp-action="Index" asp-route-roleId="@role.Id"><i class="fas fa-wrench"></i> Manage Permissions</a> </li>
                            }
                        </ul>
                    </label>*@
                    <div class="dropdown">
                        <a class="btn btn-secondary text-white dropdown-toggle" style="font-size:14px;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-wrench"></i>Actions
                        </a>

                        <ul class="dropdown-menu" style="background-color:lightgray;" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="nav-link text-dark" style="font-size:14px;" asp-route-roleId="@role.Id" asp-controller="Permission" asp-action="Index">Manage Permissions</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" style="font-size:14px;" asp-route-roleId="@role.Id" asp-controller="Permission" asp-action="Update">Edit</a>
                            </li>
                            @if(role.Name!="SuperAdmin"){
                            <li>
                                    <a class="nav-link text-dark" style="font-size:14px;" asp-route-roleId="@role.Id" asp-controller="Permission" asp-action="Delete">Delete</a>
                            </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<a asp-controller="Home" asp-action="Index" style="width:100px" class="btn btn-primary">
    Back
</a>
</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/kapraMarket.web.js"></script> @* no need for site.css made a custom css file Named as "kapraMarket.web_styles.css" it will be use through out the whole project add custom css code in this file.*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
