@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser<int>>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@*no need for site.css made a custom css file Named as "kapraMarket.web_styles.css" it will be use through out the whole project add custom css code in this file.*@
<link href="~/css/kapraMarket.web_styles.css" rel="stylesheet" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/overallstyles.css" rel="stylesheet" />

<div class="right-div">
 <div id="main">
<h1>User List</h1>
<br />
<table class="table table-striped" id="userTable">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Email
            </th>
            <th style="width:10%">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @user.UserName
                            </a>
                            <br>
                            <small>
                                @user.Id
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <a>
                        @user.Email
                    </a>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary text-white dropdown-toggle" style="font-size:14px;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-wrench"></i>Actions
                        </a>

                        <ul class="dropdown-menu" style="background-color:lightgray;" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="nav-link text-dark" style="font-size:14px;" asp-route-userId="@user.Id" asp-controller="UserRoles" asp-action="Index">Manage User Roles</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" style="font-size:14px;" asp-route-userId="@user.Id" asp-controller="UserRoles" asp-action="Update">Edit</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" style="font-size:14px;" asp-route-userId="@user.Id" asp-controller="UserRoles" asp-action="Delete">Delete</a>
                             </li>
                            
                        </ul>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<br />

<a asp-controller="Home" asp-action="Index" style="width:100px" class="btn btn-primary">
    Back
</a>
</div>
</div>
 @* <!--Pagination Start-->
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>    
 <!--Pagination End-->*@

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/kapraMarket.web.js"></script> @* no need for site.css made a custom css file Named as "kapraMarket.web_styles.css" it will be use through out the whole project add custom css code in this file.*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
